:root{
    --yellow: #f05223;
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 2s linear;
   
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgb(186, 176, 160);
}

.heading span{
    color: var(--yellow);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #635a5a;
    color: #000000;
    padding: 0.5rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: var(--yellow);
}


header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #ffffff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}

header .logo span{
    color: var(--yellow);
}


header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #333;
}

header .navbar a:hover{
    color: var(--yellow);
}

.icons a{
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.5rem;
}

.icons a:hover{
    color: var(--yellow);
}

.inicio{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url("./Img/cerveza_inicio.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.inicio .content{
    max-width: 50rem;
}

.inicio .content h3{
    font-size: 6rem;
    color: #333;
}

.inicio .content span{
    font-size: 3.5rem;
    color: var(--yellow);
    padding: 1rem 0;
    line-height: 1.5;
}

.inicio .content p{
    font-size: 1.5rem;
    color: #2b2424;
    padding: 1rem 0;
    line-height: 1.5;
    text-align: justify;
}

.acercade .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.acercade .row .video-container{
    flex: 1 1 40rem;
    position: relative;
}

.acercade .row .video-container video{
    width: 100%;
    border: 1.5rem solid rgb(255, 255, 255);
    border-radius: 5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height: 100%;
    object-fit: cover;
}

.acercade .row .video-container h3{
    position: absolute;
    top: 50%; transform: translateY(-50%);
    font-size: 3rem;
    background: #ffffff;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}

.acercade .row .content{
    flex: 1 1 40rem;
}

.acercade .row .content h3{
    font-size: 3rem;
    color: #333;
}

.acercade .row .content p{
    font-size: 1.5rem;
    color: rgb(105, 88, 88);
    padding: 5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
    text-align: justify;
}

.icons-container{
    background: #ffffff;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icons-container .icons{
    background: #ffffff;
    border: 1rem solid rgba(0,0,0,.1);
    padding: 2rem;
    display: flex;
    align-items: center;
    flex: 1 1 25rem;
}

.icons-container .icons img{
    height: 5rem;
    margin-right: 2rem;
}

.icons-container .icons h3{
    color: #333;
    padding-bottom: .5rem;
    font-size: 1.5rem;
}

.icons-container .icons span{
    color: #555;
    font-size: 1.3rem;
}

.productos .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.productos .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border: 1rem solid rgba(0,0,0,.1);
    position: relative;
}

.productos .box-container .box .descuento{
    position: absolute;
    top: 1rem; left: 1rem;
    padding: 1rem 1rem;
    font-size: 2rem;
    color: var(--yellow);
    background: rgba(147, 154, 160, 0.475);
    z-index: 1;
    border-radius: 5rem;
    font-weight: 700;
}

.productos .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}

.productos .box-container .box .image img{
    height: 25rem;
}

.productos .box-container .box:hover .image img{
    transform: scale(1.1);
}

.productos .box-container .box button{
    padding: 1rem;
    width: 100%;
    background-color: var(--yellow);
    border: none;
    color: #000000;
    text-transform: uppercase;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}

.productos .box-container .box button:hover{
    background-color: var(--yellow);
    transition: all .3s;
}


.productos .box-container .box .content{
    padding: 2rem;
    text-align: center;
    text-decoration: none;
}

.productos .box-container .box .content h3{
    font-size: 2.5rem;
    color: #333;
}

.productos .box-container .box .content .precio{
    font-size: 2.5rem;
    color: var(--yellow);
    font-weight: bolder;
    padding: 1rem;
}

.productos .box-container .box .content .precio span{
    font-size: 2.5rem;
    color: #999;
    font-weight: lighter;
    text-decoration: line-through;
}

.contacto .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
    align-items: center;
}

.contacto .row form{
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border: 1rem solid rgba(0,0,0,.1);
    background: #ffffff;
    border-radius: .5rem;
}

.contacto .row .image{
    flex: 1 1 40rem;
}

.contacto .row .image img{
    width: 100%;
}

.contacto .row form .box{
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: .1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin: .7rem 0;
}

.contacto .row form .box:focus{
    border-color: var(--yellow);
}

.contacto .row form textarea{
    height: 15rem;
    resize: none;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer .box-container .box{
    flex: 1 1 25rem;
}

.footer .box-container .box h3{
    color: #333;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    color: #666;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a:hover{
    color: var(--yellow);
    text-decoration: underline;
}

.footer .box-container .box img{
    margin-top: 1rem;
}

.footer .credito{
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #333;
    border-top: .1rem solid rgba(0,0,0,.1);
}

.footer .credito span{
    color: var(--yellow);
}

@media (max-width:991px){
    header .navbar #menu{
        display: none;
    }

    html{
        font-size: 55%;
    }

    header{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }

    .inicio{
        background-position: left;
    }
}

.escritorio{
    display: none;
}

@media (min-width: 768px){

    header, .inicio, .acercade, .icons-container, .productos, .contacto, .footer{
        display: none;
    }

    .escritorio{
        position: absolute;
        inset: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        overflow: auto;
        display: block;
        border: 1px solid #333;
        background-color: #000000;
    }
    .escritorio p{
        color: #ffffff;
        display: none;
    }

    .escritorio img{
        width: 100%;
        height: 99.8vh;
    }
}


@media (max-width:768px){

    header .navbar #menu{
        display: block;
    }

    header .navbar{
        position: absolute;
        top: 0; left: 0; right: 0;
        background: #ffffff;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #inicio:checked ~ .navbar{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #ffffff;
        border-top: .1rem solid rgba(0,0,0,.1);
        display: block;
    }

    inicio.content h3{
        font-size: 5rem;
    }

    inicio.content span{
        font-size: 2.5rem;
    }

    .icons-container .icons h3{
        font-size: 2rem;
    }
    
    .icons-container .icons span{
        font-size: 1.3rem;
    }
}

@media (max-width:450px){

    header .navbar #menu{
        display: block;
    }

    html{
        font-size: 55%;
    }

    .heading{
        font-size: 3rem;
    }

}
